Sources/treeDiM.PLMPack.DBClient/Service References/PLMPackSR/PLMPackService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://plmpackcloudservice.cloudapp.net/PLMPackService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/PLMPack" />
  <xs:import schemaLocation="https://plmpackcloudservice.cloudapp.net/PLMPackService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="get_UserName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_UserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_UserNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetUserResult" nillable="true" type="q1:DCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="ConnectResult" nillable="true" type="q2:DCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisConnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailToUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailToUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailToUserNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserNameToEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserNameToEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserNameToEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLostPasswordEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLostPasswordEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendLostPasswordEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_UserSettingMajoRounding">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_UserSettingMajoRoundingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_UserSettingMajoRoundingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_UserSettingMajoRounding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_UserSettingMajoRoundingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="webSiteURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateGroupResult" nillable="true" type="q3:DCGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetCurrentGroupResult" nillable="true" type="q4:DCGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentGroupByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grpId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentGroupByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="grp" nillable="true" type="q5:DCGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInterest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grpId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInterestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveInterest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grpId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveInterestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grpName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetGroupByNameResult" nillable="true" type="q6:DCGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupEveryone">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupEveryoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetGroupEveryoneResult" nillable="true" type="q7:DCGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetUserGroupsResult" nillable="true" type="q8:ArrayOfDCGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllGroupsResult" nillable="true" type="q9:ArrayOfDCGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showAllGroups" type="xs:boolean" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="groupsOfInterest" nillable="true" type="q10:ArrayOfDCGroup" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="groupsOther" nillable="true" type="q11:ArrayOfDCGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="groupsOfInterest" nillable="true" type="q12:ArrayOfDCGroup" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="groupsOther" nillable="true" type="q13:ArrayOfDCGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToCurrentGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToCurrentGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserFromCurrentGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="dcUser" nillable="true" type="q14:DCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserFromCurrentGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCardboardFormats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCardboardFormatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllCardboardFormatsResult" nillable="true" type="q15:ArrayOfDCCardboadFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardFormatByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardFormatByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetCardboardFormatByIDResult" nillable="true" type="q16:DCCardboadFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardboardFormatExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardboardFormatExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardboardFormatExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardFormatByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardFormatByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetCardboardFormatByNameResult" nillable="true" type="q17:DCCardboadFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCardboardFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="length" type="xs:double" />
        <xs:element minOccurs="0" name="width" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCardboardFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateNewCardboardFormatResult" nillable="true" type="q18:DCCardboadFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCardboardFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="cbFormat" nillable="true" type="q19:DCCardboadFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCardboardFormatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardboardFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="cbFormat" nillable="true" type="q20:DCCardboadFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardboardFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="UpdateCardboardFormatResult" nillable="true" type="q21:DCCardboadFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCardboardProfile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCardboardProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllCardboardProfileResult" nillable="true" type="q22:ArrayOfDCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardProfileByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardProfileByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetCardboardProfileByIDResult" nillable="true" type="q23:DCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardboardProfileExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardboardProfileExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardboardProfileExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardProfileByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardProfileByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetCardboardProfileByNameResult" nillable="true" type="q24:DCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCardboardProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thickness" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCardboardProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateNewCardboardProfileResult" nillable="true" type="q25:DCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCardboardProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="cbProfile" nillable="true" type="q26:DCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCardboardProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardboardProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="cbProfile" nillable="true" type="q27:DCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardboardProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="UpdateCardboardProfileResult" nillable="true" type="q28:DCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveCardboardProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="cbProfile" nillable="true" type="q29:DCCardboardProfile" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="dir" type="q30:eMoveDir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveCardboardProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="g" type="q31:guid" />
        <xs:element minOccurs="0" name="ext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="size" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateNewFileResult" nillable="true" type="q32:DCFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileQuotaReached">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileSize" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileQuotaReachedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileQuotaReachedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiskQuota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="noFiles" type="xs:long" />
        <xs:element minOccurs="0" name="spaceUsed" type="xs:long" />
        <xs:element minOccurs="0" name="diskQuota" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiskQuotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDiskQuotaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="noFiles" type="xs:long" />
        <xs:element minOccurs="0" name="spaceUsed" type="xs:long" />
        <xs:element minOccurs="0" name="diskQuota" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDefault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="defName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileExt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDefaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UploadDefaultResult" type="q33:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewThumbnailFromFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="file" nillable="true" type="q34:DCFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewThumbnailFromFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateNewThumbnailFromFileResult" nillable="true" type="q35:DCThumbnail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="g" type="q36:guid" />
        <xs:element minOccurs="0" name="ext" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewThumbnailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateNewThumbnailResult" nillable="true" type="q37:DCThumbnail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="defName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultThumbnailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetDefaultThumbnailResult" nillable="true" type="q38:DCThumbnail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thumbnailId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetThumbnailByIdResult" nillable="true" type="q39:DCThumbnail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootNodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetRootNodesResult" nillable="true" type="q40:ArrayOfDCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRootNode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRootNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetUserRootNodeResult" nillable="true" type="q41:DCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q42:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetNodeByIdResult" nillable="true" type="q43:DCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreeNodeChildrens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreeNodeChildrensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetTreeNodeChildrensResult" nillable="true" type="q45:ArrayOfDCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanCreateChildNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="parentNode" nillable="true" type="q46:DCTreeNode" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanCreateChildNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanCreateChildNodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNodeBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="parentNode" nillable="true" type="q47:DCTreeNode" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="thumb" nillable="true" type="q48:DCThumbnail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNodeBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateNewNodeBranchResult" nillable="true" type="q49:DCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNodeDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="parentNode" nillable="true" type="q50:DCTreeNode" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="thumb" nillable="true" type="q51:DCThumbnail" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="dFile" nillable="true" type="q52:DCFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNodeDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateNewNodeDocumentResult" nillable="true" type="q53:DCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNodeComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="parentNode" nillable="true" type="q54:DCTreeNode" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="thumb" nillable="true" type="q55:DCThumbnail" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="compFile" nillable="true" type="q56:DCFile" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="compGuid" type="q57:guid" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="majorationSets" nillable="true" type="q58:ArrayOfDCMajorationSet" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="defaultValues" nillable="true" type="q59:ArrayOfDCParamDefaultValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNodeComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateNewNodeComponentResult" nillable="true" type="q60:DCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="dcNode" nillable="true" type="q61:DCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNodeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="tnID" type="q62:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNodeByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="dcNode" nillable="true" type="q63:DCTreeNode" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameNodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameNodeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="tnID" type="q64:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameNodeByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShareTreeNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="dcNode" nillable="true" type="q65:DCTreeNode" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="dcGroup" nillable="true" type="q66:DCGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShareTreeNodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShareEveryone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="dcNode" nillable="true" type="q67:DCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShareEveryoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrothersWithExtension">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="dcNode" nillable="true" type="q68:DCTreeNode" />
        <xs:element minOccurs="0" name="extension" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrothersWithExtensionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetBrothersWithExtensionResult" nillable="true" type="q69:ArrayOfDCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="g" type="q70:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetComponentByGuidResult" nillable="true" type="q71:DCComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParamDefaultValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="g" type="q72:guid" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="paramDefaultValue" nillable="true" type="q73:ArrayOfDCParamDefaultValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParamDefaultValuesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamDefaultValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="g" type="q74:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamDefaultValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetParamDefaultValuesResult" nillable="true" type="q75:ArrayOfDCParamDefaultValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMajorationSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="g" type="q76:guid" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="majorationSet" nillable="true" type="q77:DCMajorationSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMajorationSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="UpdateMajorationSetResult" nillable="true" type="q78:DCMajorationSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMajorationSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="g" type="q79:guid" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="profile" nillable="true" type="q80:DCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMajorationSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetMajorationSetResult" nillable="true" type="q81:DCMajorationSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="eType" type="q82:DCSBTypeEnum" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAutoInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="eType" type="q83:DCSBTypeEnum" />
        <xs:element minOccurs="0" name="itemID" type="xs:int" />
        <xs:element minOccurs="0" name="autoInsert" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAutoInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="eType" type="q84:DCSBTypeEnum" />
        <xs:element minOccurs="0" name="itemID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPallets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllPalletsResult" nillable="true" type="q85:ArrayOfDCSBPallet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPallet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="pallet" nillable="true" type="q86:DCSBPallet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPalletResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPalletCaps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPalletCapsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllPalletCapsResult" nillable="true" type="q87:ArrayOfDCSBPalletCap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPalletCap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="palletCap" nillable="true" type="q88:DCSBPalletCap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPalletCapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPalletFilms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPalletFilmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllPalletFilmsResult" nillable="true" type="q89:ArrayOfDCSBPalletFilm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPalletFilm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="palletFilm" nillable="true" type="q90:DCSBPalletFilm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPalletFilmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPalletCorners">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPalletCornersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllPalletCornersResult" nillable="true" type="q91:ArrayOfDCSBPalletCorner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPalletCorner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="palletCorner" nillable="true" type="q92:DCSBPalletCorner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPalletCornerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInterlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInterlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllInterlayersResult" nillable="true" type="q93:ArrayOfDCSBInterlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewInterlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="interlayer" nillable="true" type="q94:DCSBInterlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewInterlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCases">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllCasesResult" nillable="true" type="q95:ArrayOfDCSBCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBoxes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBoxesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllBoxesResult" nillable="true" type="q96:ArrayOfDCSBCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="sbCase" nillable="true" type="q97:DCSBCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBundles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBundlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllBundlesResult" nillable="true" type="q98:ArrayOfDCSBBundle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewBundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="bundle" nillable="true" type="q99:DCSBBundle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewBundleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCylinders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCylindersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllCylindersResult" nillable="true" type="q100:ArrayOfDCSBCylinder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCylinder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="cylinder" nillable="true" type="q101:DCSBCylinder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCylinderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTrucks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllTrucksResult" nillable="true" type="q102:ArrayOfDCSBTruck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewTruck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="truck" nillable="true" type="q103:DCSBTruck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewTruckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>