Sources/treeDiM.PLMPack.DBClient/Service References/PLMPackSR/PLMPackService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PLMPackService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wsSecureService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://plmpackcloudservice.cloudapp.net/PLMPackService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://plmpackcloudservice.cloudapp.net/PLMPackService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://plmpackcloudservice.cloudapp.net/PLMPackService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/PLMPack" />
      <xsd:import schemaLocation="https://plmpackcloudservice.cloudapp.net/PLMPackService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPLMPackService_get_UserName_InputMessage">
    <wsdl:part name="parameters" element="tns:get_UserName" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_get_UserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_UserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_DisConnect_InputMessage">
    <wsdl:part name="parameters" element="tns:DisConnect" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_DisConnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UserExists" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_EmailToUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailToUserName" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_EmailToUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailToUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UserNameToEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:UserNameToEmail" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UserNameToEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserNameToEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_SendLostPasswordEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendLostPasswordEmail" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_SendLostPasswordEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendLostPasswordEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_get_UserSettingMajoRounding_InputMessage">
    <wsdl:part name="parameters" element="tns:get_UserSettingMajoRounding" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_get_UserSettingMajoRounding_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_UserSettingMajoRoundingResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_set_UserSettingMajoRounding_InputMessage">
    <wsdl:part name="parameters" element="tns:set_UserSettingMajoRounding" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_set_UserSettingMajoRounding_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_UserSettingMajoRoundingResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroup" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetCurrentGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentGroup" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetCurrentGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_SetCurrentGroupByID_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentGroupByID" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_SetCurrentGroupByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentGroupByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_SetCurrentGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentGroup" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_SetCurrentGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_AddInterest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInterest" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_AddInterest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInterestResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RemoveInterest_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveInterest" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RemoveInterest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveInterestResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetGroupByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupByName" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetGroupByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetGroupEveryone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupEveryone" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetGroupEveryone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupEveryoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetUserGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserGroups" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetUserGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGroups" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetGroupsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsList" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetGroupsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsListResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_AddUserToCurrentGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToCurrentGroup" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_AddUserToCurrentGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToCurrentGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RemoveUserFromCurrentGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromCurrentGroup" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RemoveUserFromCurrentGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromCurrentGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllCardboardFormats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCardboardFormats" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllCardboardFormats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCardboardFormatsResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetCardboardFormatByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardboardFormatByID" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetCardboardFormatByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardboardFormatByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CardboardFormatExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CardboardFormatExists" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CardboardFormatExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CardboardFormatExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetCardboardFormatByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardboardFormatByName" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetCardboardFormatByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardboardFormatByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewCardboardFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCardboardFormat" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewCardboardFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCardboardFormatResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RemoveCardboardFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCardboardFormat" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RemoveCardboardFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCardboardFormatResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UpdateCardboardFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCardboardFormat" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UpdateCardboardFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCardboardFormatResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllCardboardProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCardboardProfile" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllCardboardProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCardboardProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetCardboardProfileByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardboardProfileByID" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetCardboardProfileByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardboardProfileByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CardboardProfileExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CardboardProfileExists" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CardboardProfileExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CardboardProfileExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetCardboardProfileByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardboardProfileByName" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetCardboardProfileByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardboardProfileByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewCardboardProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCardboardProfile" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewCardboardProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCardboardProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RemoveCardboardProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCardboardProfile" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RemoveCardboardProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCardboardProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UpdateCardboardProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCardboardProfile" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UpdateCardboardProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCardboardProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_MoveCardboardProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveCardboardProfile" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_MoveCardboardProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveCardboardProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewFile_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewFile" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewFileResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_FileQuotaReached_InputMessage">
    <wsdl:part name="parameters" element="tns:FileQuotaReached" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_FileQuotaReached_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileQuotaReachedResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetDiskQuota_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDiskQuota" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetDiskQuota_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDiskQuotaResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UploadDefault_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDefault" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UploadDefault_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDefaultResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewThumbnailFromFile_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewThumbnailFromFile" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewThumbnailFromFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewThumbnailFromFileResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewThumbnail_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewThumbnail" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewThumbnail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewThumbnailResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetDefaultThumbnail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultThumbnail" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetDefaultThumbnail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultThumbnailResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetThumbnailById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThumbnailById" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetThumbnailById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThumbnailByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetRootNodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRootNodes" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetRootNodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRootNodesResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetUserRootNode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRootNode" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetUserRootNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRootNodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetNodeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeById" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetNodeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetTreeNodeChildrens_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTreeNodeChildrens" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetTreeNodeChildrens_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTreeNodeChildrensResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CanCreateChildNode_InputMessage">
    <wsdl:part name="parameters" element="tns:CanCreateChildNode" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CanCreateChildNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanCreateChildNodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewNodeBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewNodeBranch" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewNodeBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewNodeBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewNodeDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewNodeDocument" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewNodeDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewNodeDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewNodeComponent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewNodeComponent" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewNodeComponent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewNodeComponentResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_DeleteNode_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNode" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_DeleteNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_DeleteNodeByID_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNodeByID" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_DeleteNodeByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNodeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RenameNode_InputMessage">
    <wsdl:part name="parameters" element="tns:RenameNode" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RenameNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenameNodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RenameNodeByID_InputMessage">
    <wsdl:part name="parameters" element="tns:RenameNodeByID" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RenameNodeByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenameNodeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_ShareTreeNode_InputMessage">
    <wsdl:part name="parameters" element="tns:ShareTreeNode" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_ShareTreeNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShareTreeNodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_ShareEveryone_InputMessage">
    <wsdl:part name="parameters" element="tns:ShareEveryone" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_ShareEveryone_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShareEveryoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetBrothersWithExtension_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBrothersWithExtension" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetBrothersWithExtension_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBrothersWithExtensionResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetComponentByGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComponentByGuid" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetComponentByGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComponentByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UpdateParamDefaultValues_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParamDefaultValues" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UpdateParamDefaultValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParamDefaultValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetParamDefaultValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParamDefaultValues" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetParamDefaultValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParamDefaultValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UpdateMajorationSet_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMajorationSet" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_UpdateMajorationSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMajorationSetResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetMajorationSet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMajorationSet" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetMajorationSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMajorationSetResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_ItemExists_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemExists" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_ItemExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_SetAutoInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAutoInsert" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_SetAutoInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAutoInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RemoveItemById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItemById" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_RemoveItemById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItemByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllPallets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPallets" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllPallets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPalletsResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewPallet_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPallet" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewPallet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPalletResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllPalletCaps_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPalletCaps" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllPalletCaps_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPalletCapsResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewPalletCap_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPalletCap" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewPalletCap_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPalletCapResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllPalletFilms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPalletFilms" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllPalletFilms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPalletFilmsResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewPalletFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPalletFilm" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewPalletFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPalletFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllPalletCorners_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPalletCorners" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllPalletCorners_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPalletCornersResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewPalletCorner_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPalletCorner" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewPalletCorner_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPalletCornerResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllInterlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInterlayers" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllInterlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInterlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewInterlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewInterlayer" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewInterlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewInterlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllCases_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCases" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllCases_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCasesResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllBoxes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBoxes" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllBoxes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBoxesResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewCase_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCase" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCaseResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllBundles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBundles" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllBundles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBundlesResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewBundle_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewBundle" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewBundle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewBundleResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllCylinders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCylinders" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllCylinders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCylindersResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewCylinder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCylinder" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewCylinder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCylinderResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllTrucks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTrucks" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_GetAllTrucks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTrucksResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewTruck_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewTruck" />
  </wsdl:message>
  <wsdl:message name="IPLMPackService_CreateNewTruck_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewTruckResponse" />
  </wsdl:message>
  <wsdl:portType name="IPLMPackService">
    <wsdl:operation name="get_UserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/get_UserName" message="tns:IPLMPackService_get_UserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/get_UserNameResponse" message="tns:IPLMPackService_get_UserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetUser" message="tns:IPLMPackService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetUserResponse" message="tns:IPLMPackService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/Connect" message="tns:IPLMPackService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/ConnectResponse" message="tns:IPLMPackService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisConnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/DisConnect" message="tns:IPLMPackService_DisConnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/DisConnectResponse" message="tns:IPLMPackService_DisConnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/UserExists" message="tns:IPLMPackService_UserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/UserExistsResponse" message="tns:IPLMPackService_UserExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailToUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/EmailToUserName" message="tns:IPLMPackService_EmailToUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/EmailToUserNameResponse" message="tns:IPLMPackService_EmailToUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserNameToEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/UserNameToEmail" message="tns:IPLMPackService_UserNameToEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/UserNameToEmailResponse" message="tns:IPLMPackService_UserNameToEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendLostPasswordEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/SendLostPasswordEmail" message="tns:IPLMPackService_SendLostPasswordEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/SendLostPasswordEmailResponse" message="tns:IPLMPackService_SendLostPasswordEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_UserSettingMajoRounding">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/get_UserSettingMajoRounding" message="tns:IPLMPackService_get_UserSettingMajoRounding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/get_UserSettingMajoRoundingResponse" message="tns:IPLMPackService_get_UserSettingMajoRounding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_UserSettingMajoRounding">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/set_UserSettingMajoRounding" message="tns:IPLMPackService_set_UserSettingMajoRounding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/set_UserSettingMajoRoundingResponse" message="tns:IPLMPackService_set_UserSettingMajoRounding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateUser" message="tns:IPLMPackService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateUserResponse" message="tns:IPLMPackService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateGroup" message="tns:IPLMPackService_CreateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateGroupResponse" message="tns:IPLMPackService_CreateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetCurrentGroup" message="tns:IPLMPackService_GetCurrentGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetCurrentGroupResponse" message="tns:IPLMPackService_GetCurrentGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCurrentGroupByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/SetCurrentGroupByID" message="tns:IPLMPackService_SetCurrentGroupByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/SetCurrentGroupByIDResponse" message="tns:IPLMPackService_SetCurrentGroupByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCurrentGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/SetCurrentGroup" message="tns:IPLMPackService_SetCurrentGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/SetCurrentGroupResponse" message="tns:IPLMPackService_SetCurrentGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInterest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/AddInterest" message="tns:IPLMPackService_AddInterest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/AddInterestResponse" message="tns:IPLMPackService_AddInterest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveInterest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/RemoveInterest" message="tns:IPLMPackService_RemoveInterest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/RemoveInterestResponse" message="tns:IPLMPackService_RemoveInterest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetGroupByName" message="tns:IPLMPackService_GetGroupByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetGroupByNameResponse" message="tns:IPLMPackService_GetGroupByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupEveryone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetGroupEveryone" message="tns:IPLMPackService_GetGroupEveryone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetGroupEveryoneResponse" message="tns:IPLMPackService_GetGroupEveryone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetUserGroups" message="tns:IPLMPackService_GetUserGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetUserGroupsResponse" message="tns:IPLMPackService_GetUserGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetAllGroups" message="tns:IPLMPackService_GetAllGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetAllGroupsResponse" message="tns:IPLMPackService_GetAllGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetGroupsList" message="tns:IPLMPackService_GetGroupsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetGroupsListResponse" message="tns:IPLMPackService_GetGroupsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToCurrentGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/AddUserToCurrentGroup" message="tns:IPLMPackService_AddUserToCurrentGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/AddUserToCurrentGroupResponse" message="tns:IPLMPackService_AddUserToCurrentGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromCurrentGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/RemoveUserFromCurrentGroup" message="tns:IPLMPackService_RemoveUserFromCurrentGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/RemoveUserFromCurrentGroupResponse" message="tns:IPLMPackService_RemoveUserFromCurrentGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCardboardFormats">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetAllCardboardFormats" message="tns:IPLMPackService_GetAllCardboardFormats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetAllCardboardFormatsResponse" message="tns:IPLMPackService_GetAllCardboardFormats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardboardFormatByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetCardboardFormatByID" message="tns:IPLMPackService_GetCardboardFormatByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetCardboardFormatByIDResponse" message="tns:IPLMPackService_GetCardboardFormatByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CardboardFormatExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CardboardFormatExists" message="tns:IPLMPackService_CardboardFormatExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CardboardFormatExistsResponse" message="tns:IPLMPackService_CardboardFormatExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardboardFormatByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetCardboardFormatByName" message="tns:IPLMPackService_GetCardboardFormatByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetCardboardFormatByNameResponse" message="tns:IPLMPackService_GetCardboardFormatByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewCardboardFormat">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewCardboardFormat" message="tns:IPLMPackService_CreateNewCardboardFormat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewCardboardFormatResponse" message="tns:IPLMPackService_CreateNewCardboardFormat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCardboardFormat">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/RemoveCardboardFormat" message="tns:IPLMPackService_RemoveCardboardFormat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/RemoveCardboardFormatResponse" message="tns:IPLMPackService_RemoveCardboardFormat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCardboardFormat">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/UpdateCardboardFormat" message="tns:IPLMPackService_UpdateCardboardFormat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/UpdateCardboardFormatResponse" message="tns:IPLMPackService_UpdateCardboardFormat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCardboardProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetAllCardboardProfile" message="tns:IPLMPackService_GetAllCardboardProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetAllCardboardProfileResponse" message="tns:IPLMPackService_GetAllCardboardProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardboardProfileByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetCardboardProfileByID" message="tns:IPLMPackService_GetCardboardProfileByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetCardboardProfileByIDResponse" message="tns:IPLMPackService_GetCardboardProfileByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CardboardProfileExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CardboardProfileExists" message="tns:IPLMPackService_CardboardProfileExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CardboardProfileExistsResponse" message="tns:IPLMPackService_CardboardProfileExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardboardProfileByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetCardboardProfileByName" message="tns:IPLMPackService_GetCardboardProfileByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetCardboardProfileByNameResponse" message="tns:IPLMPackService_GetCardboardProfileByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewCardboardProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewCardboardProfile" message="tns:IPLMPackService_CreateNewCardboardProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewCardboardProfileResponse" message="tns:IPLMPackService_CreateNewCardboardProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCardboardProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/RemoveCardboardProfile" message="tns:IPLMPackService_RemoveCardboardProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/RemoveCardboardProfileResponse" message="tns:IPLMPackService_RemoveCardboardProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCardboardProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/UpdateCardboardProfile" message="tns:IPLMPackService_UpdateCardboardProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/UpdateCardboardProfileResponse" message="tns:IPLMPackService_UpdateCardboardProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveCardboardProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/MoveCardboardProfile" message="tns:IPLMPackService_MoveCardboardProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/MoveCardboardProfileResponse" message="tns:IPLMPackService_MoveCardboardProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewFile" message="tns:IPLMPackService_CreateNewFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewFileResponse" message="tns:IPLMPackService_CreateNewFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileQuotaReached">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/FileQuotaReached" message="tns:IPLMPackService_FileQuotaReached_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/FileQuotaReachedResponse" message="tns:IPLMPackService_FileQuotaReached_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDiskQuota">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetDiskQuota" message="tns:IPLMPackService_GetDiskQuota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetDiskQuotaResponse" message="tns:IPLMPackService_GetDiskQuota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadDefault">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/UploadDefault" message="tns:IPLMPackService_UploadDefault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/UploadDefaultResponse" message="tns:IPLMPackService_UploadDefault_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewThumbnailFromFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewThumbnailFromFile" message="tns:IPLMPackService_CreateNewThumbnailFromFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewThumbnailFromFileResponse" message="tns:IPLMPackService_CreateNewThumbnailFromFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewThumbnail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewThumbnail" message="tns:IPLMPackService_CreateNewThumbnail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewThumbnailResponse" message="tns:IPLMPackService_CreateNewThumbnail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultThumbnail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetDefaultThumbnail" message="tns:IPLMPackService_GetDefaultThumbnail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetDefaultThumbnailResponse" message="tns:IPLMPackService_GetDefaultThumbnail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThumbnailById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetThumbnailById" message="tns:IPLMPackService_GetThumbnailById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetThumbnailByIdResponse" message="tns:IPLMPackService_GetThumbnailById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRootNodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetRootNodes" message="tns:IPLMPackService_GetRootNodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetRootNodesResponse" message="tns:IPLMPackService_GetRootNodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRootNode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetUserRootNode" message="tns:IPLMPackService_GetUserRootNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetUserRootNodeResponse" message="tns:IPLMPackService_GetUserRootNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNodeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetNodeById" message="tns:IPLMPackService_GetNodeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetNodeByIdResponse" message="tns:IPLMPackService_GetNodeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTreeNodeChildrens">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetTreeNodeChildrens" message="tns:IPLMPackService_GetTreeNodeChildrens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetTreeNodeChildrensResponse" message="tns:IPLMPackService_GetTreeNodeChildrens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanCreateChildNode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CanCreateChildNode" message="tns:IPLMPackService_CanCreateChildNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CanCreateChildNodeResponse" message="tns:IPLMPackService_CanCreateChildNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewNodeBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewNodeBranch" message="tns:IPLMPackService_CreateNewNodeBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewNodeBranchResponse" message="tns:IPLMPackService_CreateNewNodeBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewNodeDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewNodeDocument" message="tns:IPLMPackService_CreateNewNodeDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewNodeDocumentResponse" message="tns:IPLMPackService_CreateNewNodeDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewNodeComponent">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewNodeComponent" message="tns:IPLMPackService_CreateNewNodeComponent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewNodeComponentResponse" message="tns:IPLMPackService_CreateNewNodeComponent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/DeleteNode" message="tns:IPLMPackService_DeleteNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/DeleteNodeResponse" message="tns:IPLMPackService_DeleteNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNodeByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/DeleteNodeByID" message="tns:IPLMPackService_DeleteNodeByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/DeleteNodeByIDResponse" message="tns:IPLMPackService_DeleteNodeByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenameNode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/RenameNode" message="tns:IPLMPackService_RenameNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/RenameNodeResponse" message="tns:IPLMPackService_RenameNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenameNodeByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/RenameNodeByID" message="tns:IPLMPackService_RenameNodeByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/RenameNodeByIDResponse" message="tns:IPLMPackService_RenameNodeByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShareTreeNode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/ShareTreeNode" message="tns:IPLMPackService_ShareTreeNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/ShareTreeNodeResponse" message="tns:IPLMPackService_ShareTreeNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShareEveryone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/ShareEveryone" message="tns:IPLMPackService_ShareEveryone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/ShareEveryoneResponse" message="tns:IPLMPackService_ShareEveryone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBrothersWithExtension">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetBrothersWithExtension" message="tns:IPLMPackService_GetBrothersWithExtension_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetBrothersWithExtensionResponse" message="tns:IPLMPackService_GetBrothersWithExtension_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComponentByGuid">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetComponentByGuid" message="tns:IPLMPackService_GetComponentByGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetComponentByGuidResponse" message="tns:IPLMPackService_GetComponentByGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateParamDefaultValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/UpdateParamDefaultValues" message="tns:IPLMPackService_UpdateParamDefaultValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/UpdateParamDefaultValuesResponse" message="tns:IPLMPackService_UpdateParamDefaultValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParamDefaultValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetParamDefaultValues" message="tns:IPLMPackService_GetParamDefaultValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetParamDefaultValuesResponse" message="tns:IPLMPackService_GetParamDefaultValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMajorationSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/UpdateMajorationSet" message="tns:IPLMPackService_UpdateMajorationSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/UpdateMajorationSetResponse" message="tns:IPLMPackService_UpdateMajorationSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMajorationSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetMajorationSet" message="tns:IPLMPackService_GetMajorationSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetMajorationSetResponse" message="tns:IPLMPackService_GetMajorationSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/ItemExists" message="tns:IPLMPackService_ItemExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/ItemExistsResponse" message="tns:IPLMPackService_ItemExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAutoInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/SetAutoInsert" message="tns:IPLMPackService_SetAutoInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/SetAutoInsertResponse" message="tns:IPLMPackService_SetAutoInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveItemById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/RemoveItemById" message="tns:IPLMPackService_RemoveItemById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/RemoveItemByIdResponse" message="tns:IPLMPackService_RemoveItemById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPallets">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetAllPallets" message="tns:IPLMPackService_GetAllPallets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetAllPalletsResponse" message="tns:IPLMPackService_GetAllPallets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewPallet">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewPallet" message="tns:IPLMPackService_CreateNewPallet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewPalletResponse" message="tns:IPLMPackService_CreateNewPallet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPalletCaps">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetAllPalletCaps" message="tns:IPLMPackService_GetAllPalletCaps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetAllPalletCapsResponse" message="tns:IPLMPackService_GetAllPalletCaps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewPalletCap">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewPalletCap" message="tns:IPLMPackService_CreateNewPalletCap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewPalletCapResponse" message="tns:IPLMPackService_CreateNewPalletCap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPalletFilms">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetAllPalletFilms" message="tns:IPLMPackService_GetAllPalletFilms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetAllPalletFilmsResponse" message="tns:IPLMPackService_GetAllPalletFilms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewPalletFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewPalletFilm" message="tns:IPLMPackService_CreateNewPalletFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewPalletFilmResponse" message="tns:IPLMPackService_CreateNewPalletFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPalletCorners">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetAllPalletCorners" message="tns:IPLMPackService_GetAllPalletCorners_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetAllPalletCornersResponse" message="tns:IPLMPackService_GetAllPalletCorners_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewPalletCorner">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewPalletCorner" message="tns:IPLMPackService_CreateNewPalletCorner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewPalletCornerResponse" message="tns:IPLMPackService_CreateNewPalletCorner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInterlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetAllInterlayers" message="tns:IPLMPackService_GetAllInterlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetAllInterlayersResponse" message="tns:IPLMPackService_GetAllInterlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewInterlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewInterlayer" message="tns:IPLMPackService_CreateNewInterlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewInterlayerResponse" message="tns:IPLMPackService_CreateNewInterlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCases">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetAllCases" message="tns:IPLMPackService_GetAllCases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetAllCasesResponse" message="tns:IPLMPackService_GetAllCases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBoxes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetAllBoxes" message="tns:IPLMPackService_GetAllBoxes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetAllBoxesResponse" message="tns:IPLMPackService_GetAllBoxes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewCase">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewCase" message="tns:IPLMPackService_CreateNewCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewCaseResponse" message="tns:IPLMPackService_CreateNewCase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBundles">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetAllBundles" message="tns:IPLMPackService_GetAllBundles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetAllBundlesResponse" message="tns:IPLMPackService_GetAllBundles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewBundle">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewBundle" message="tns:IPLMPackService_CreateNewBundle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewBundleResponse" message="tns:IPLMPackService_CreateNewBundle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCylinders">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetAllCylinders" message="tns:IPLMPackService_GetAllCylinders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetAllCylindersResponse" message="tns:IPLMPackService_GetAllCylinders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewCylinder">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewCylinder" message="tns:IPLMPackService_CreateNewCylinder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewCylinderResponse" message="tns:IPLMPackService_CreateNewCylinder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTrucks">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/GetAllTrucks" message="tns:IPLMPackService_GetAllTrucks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/GetAllTrucksResponse" message="tns:IPLMPackService_GetAllTrucks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewTruck">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewTruck" message="tns:IPLMPackService_CreateNewTruck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMPackService/CreateNewTruckResponse" message="tns:IPLMPackService_CreateNewTruck_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSecureService" type="tns:IPLMPackService">
    <wsp:PolicyReference URI="#wsSecureService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_UserName">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/get_UserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisConnect">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/DisConnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/UserExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailToUserName">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/EmailToUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserNameToEmail">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/UserNameToEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLostPasswordEmail">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/SendLostPasswordEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_UserSettingMajoRounding">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/get_UserSettingMajoRounding" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_UserSettingMajoRounding">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/set_UserSettingMajoRounding" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentGroup">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetCurrentGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCurrentGroupByID">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/SetCurrentGroupByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCurrentGroup">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/SetCurrentGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInterest">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/AddInterest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveInterest">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/RemoveInterest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupByName">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetGroupByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupEveryone">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetGroupEveryone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroups">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetUserGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGroups">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetAllGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupsList">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetGroupsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToCurrentGroup">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/AddUserToCurrentGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromCurrentGroup">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/RemoveUserFromCurrentGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCardboardFormats">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetAllCardboardFormats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardboardFormatByID">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetCardboardFormatByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CardboardFormatExists">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CardboardFormatExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardboardFormatByName">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetCardboardFormatByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewCardboardFormat">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewCardboardFormat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCardboardFormat">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/RemoveCardboardFormat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCardboardFormat">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/UpdateCardboardFormat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCardboardProfile">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetAllCardboardProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardboardProfileByID">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetCardboardProfileByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CardboardProfileExists">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CardboardProfileExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardboardProfileByName">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetCardboardProfileByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewCardboardProfile">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewCardboardProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCardboardProfile">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/RemoveCardboardProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCardboardProfile">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/UpdateCardboardProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveCardboardProfile">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/MoveCardboardProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewFile">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileQuotaReached">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/FileQuotaReached" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDiskQuota">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetDiskQuota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDefault">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/UploadDefault" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewThumbnailFromFile">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewThumbnailFromFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewThumbnail">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewThumbnail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultThumbnail">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetDefaultThumbnail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThumbnailById">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetThumbnailById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRootNodes">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetRootNodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRootNode">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetUserRootNode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNodeById">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetNodeById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTreeNodeChildrens">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetTreeNodeChildrens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanCreateChildNode">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CanCreateChildNode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewNodeBranch">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewNodeBranch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewNodeDocument">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewNodeDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewNodeComponent">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewNodeComponent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNode">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/DeleteNode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNodeByID">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/DeleteNodeByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameNode">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/RenameNode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameNodeByID">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/RenameNodeByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShareTreeNode">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/ShareTreeNode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShareEveryone">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/ShareEveryone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrothersWithExtension">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetBrothersWithExtension" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComponentByGuid">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetComponentByGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateParamDefaultValues">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/UpdateParamDefaultValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParamDefaultValues">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetParamDefaultValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMajorationSet">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/UpdateMajorationSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMajorationSet">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetMajorationSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemExists">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/ItemExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAutoInsert">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/SetAutoInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveItemById">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/RemoveItemById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPallets">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetAllPallets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewPallet">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewPallet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPalletCaps">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetAllPalletCaps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewPalletCap">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewPalletCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPalletFilms">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetAllPalletFilms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewPalletFilm">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewPalletFilm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPalletCorners">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetAllPalletCorners" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewPalletCorner">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewPalletCorner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInterlayers">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetAllInterlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewInterlayer">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewInterlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCases">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetAllCases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBoxes">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetAllBoxes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewCase">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBundles">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetAllBundles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewBundle">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewBundle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCylinders">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetAllCylinders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewCylinder">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewCylinder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTrucks">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/GetAllTrucks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewTruck">
      <soap12:operation soapAction="http://tempuri.org/IPLMPackService/CreateNewTruck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PLMPackService">
    <wsdl:port name="wsSecureService" binding="tns:wsSecureService">
      <soap12:address location="https://plmpackcloudservice.cloudapp.net/PLMPackService.svc/secure" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://plmpackcloudservice.cloudapp.net/PLMPackService.svc/secure</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>