Sources/Test/treeDiM.StackBuilder.WCFService.Test/Connected Services/SB_SR/StackBuilderServ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StackBuilderServ" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5512/StackBuilder.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5512/StackBuilder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5512/StackBuilder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/treeDiM.StackBuilder.WCFAppServ" />
      <xsd:import schemaLocation="http://localhost:5512/StackBuilder.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStackBuilder_SB_GetCasePalletBestSolution_InputMessage">
    <wsdl:part name="parameters" element="tns:SB_GetCasePalletBestSolution" />
  </wsdl:message>
  <wsdl:message name="IStackBuilder_SB_GetCasePalletBestSolution_OutputMessage">
    <wsdl:part name="parameters" element="tns:SB_GetCasePalletBestSolutionResponse" />
  </wsdl:message>
  <wsdl:message name="IStackBuilder_SB_GetBundlePalletBestSolution_InputMessage">
    <wsdl:part name="parameters" element="tns:SB_GetBundlePalletBestSolution" />
  </wsdl:message>
  <wsdl:message name="IStackBuilder_SB_GetBundlePalletBestSolution_OutputMessage">
    <wsdl:part name="parameters" element="tns:SB_GetBundlePalletBestSolutionResponse" />
  </wsdl:message>
  <wsdl:message name="IStackBuilder_SB_GetBundleCaseBestSolution_InputMessage">
    <wsdl:part name="parameters" element="tns:SB_GetBundleCaseBestSolution" />
  </wsdl:message>
  <wsdl:message name="IStackBuilder_SB_GetBundleCaseBestSolution_OutputMessage">
    <wsdl:part name="parameters" element="tns:SB_GetBundleCaseBestSolutionResponse" />
  </wsdl:message>
  <wsdl:message name="IStackBuilder_SB_GetBoxCaseBestSolution_InputMessage">
    <wsdl:part name="parameters" element="tns:SB_GetBoxCaseBestSolution" />
  </wsdl:message>
  <wsdl:message name="IStackBuilder_SB_GetBoxCaseBestSolution_OutputMessage">
    <wsdl:part name="parameters" element="tns:SB_GetBoxCaseBestSolutionResponse" />
  </wsdl:message>
  <wsdl:portType name="IStackBuilder">
    <wsdl:operation name="SB_GetCasePalletBestSolution">
      <wsdl:input wsaw:Action="http://tempuri.org/IStackBuilder/SB_GetCasePalletBestSolution" message="tns:IStackBuilder_SB_GetCasePalletBestSolution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStackBuilder/SB_GetCasePalletBestSolutionResponse" message="tns:IStackBuilder_SB_GetCasePalletBestSolution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SB_GetBundlePalletBestSolution">
      <wsdl:input wsaw:Action="http://tempuri.org/IStackBuilder/SB_GetBundlePalletBestSolution" message="tns:IStackBuilder_SB_GetBundlePalletBestSolution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStackBuilder/SB_GetBundlePalletBestSolutionResponse" message="tns:IStackBuilder_SB_GetBundlePalletBestSolution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SB_GetBundleCaseBestSolution">
      <wsdl:input wsaw:Action="http://tempuri.org/IStackBuilder/SB_GetBundleCaseBestSolution" message="tns:IStackBuilder_SB_GetBundleCaseBestSolution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStackBuilder/SB_GetBundleCaseBestSolutionResponse" message="tns:IStackBuilder_SB_GetBundleCaseBestSolution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SB_GetBoxCaseBestSolution">
      <wsdl:input wsaw:Action="http://tempuri.org/IStackBuilder/SB_GetBoxCaseBestSolution" message="tns:IStackBuilder_SB_GetBoxCaseBestSolution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStackBuilder/SB_GetBoxCaseBestSolutionResponse" message="tns:IStackBuilder_SB_GetBoxCaseBestSolution_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStackBuilder" type="tns:IStackBuilder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SB_GetCasePalletBestSolution">
      <soap:operation soapAction="http://tempuri.org/IStackBuilder/SB_GetCasePalletBestSolution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SB_GetBundlePalletBestSolution">
      <soap:operation soapAction="http://tempuri.org/IStackBuilder/SB_GetBundlePalletBestSolution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SB_GetBundleCaseBestSolution">
      <soap:operation soapAction="http://tempuri.org/IStackBuilder/SB_GetBundleCaseBestSolution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SB_GetBoxCaseBestSolution">
      <soap:operation soapAction="http://tempuri.org/IStackBuilder/SB_GetBoxCaseBestSolution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StackBuilderServ">
    <wsdl:port name="BasicHttpBinding_IStackBuilder" binding="tns:BasicHttpBinding_IStackBuilder">
      <soap:address location="http://localhost:5512/StackBuilder.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>