Sources/Test/treeDiM.StackBuilder.WCFService.Test/Connected Services/SB_SR/StackBuilderServ3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17399/StackBuilderServ.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/treeDiM.StackBuilder.WCFService" />
  <xs:element name="SB_GetBestSolution">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/treeDiM.StackBuilder.WCFService" minOccurs="0" name="sbCase" nillable="true" type="q1:DCSBCase" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/treeDiM.StackBuilder.WCFService" minOccurs="0" name="sbPallet" nillable="true" type="q2:DCSBPallet" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/treeDiM.StackBuilder.WCFService" minOccurs="0" name="sbInterlayer" nillable="true" type="q3:DCSBInterlayer" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/treeDiM.StackBuilder.WCFService" minOccurs="0" name="sbConstraintSet" nillable="true" type="q4:DCSBConstraintSet" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/treeDiM.StackBuilder.WCFService" minOccurs="0" name="expectedFormat" nillable="true" type="q5:DCCompFormat" />
        <xs:element minOccurs="0" name="showCotations" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SB_GetBestSolutionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/treeDiM.StackBuilder.WCFService" minOccurs="0" name="SB_GetBestSolutionResult" nillable="true" type="q6:DCSBSolution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>