Sources/TreeDim.StackBuilder.Reporting/ReportTemplates/ReportTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="/treeDim/StackBuilder/ReportTypes"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:rpt="/treeDim/StackBuilder/ReportTypes"
    elementFormDefault="qualified"
>

  <!--BOX : BEG-->
  <xs:complexType name="box">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="netWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="admissibleLoadOnTop" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--BOX : END-->
  <!--CASE : BEG -->
  <xs:complexType name="case">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="netWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="admissibleLoadOnTop" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--CASE : END-->
  <!--BUNDLE : BEG-->
  <xs:complexType name="bundle">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="numberOfFlats" type="xs:string"/>
      <xs:element name="unitThickness" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="unitWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="totalThickness" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weightTotal" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--BUNDLE : END-->
  <!--CASEWITHINNERDIMS : BEG-->
  <xs:complexType name="caseWithInnerDims">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="innerLength" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="innerWidth" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="innerHeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="admissibleLoadOnTop" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--CASEWITHINNERDIMS : END-->
  <!--PACKPROPERTIES : BEG-->
  <xs:complexType name="pack">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="arrangement" type="xs:string"/>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="0" maxOccurs="1" type ="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="netWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="wrapperWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="trayWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--PACKPROPERTIES : END-->
  <!--PALLET : BEG-->
  <xs:complexType name="pallet">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width"  minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="admissibleLoad" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--PALLET : END-->
  <!--INTERLAYER : BEG-->
  <xs:complexType name="interlayer">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="length" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="thickness" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="1" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--INTERLAYER : END-->
  <!--PALLETCORNER : BEG-->
  <xs:complexType name="palletCorner">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="description" type="xs:string"/>
      <xs:element name="Length" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="thickness" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="1" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--PALLETCORNER : END-->
  <!--PALLETCAP : BEGIN-->
  <xs:complexType name="palletCap">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="description" type="xs:string"/>
      <xs:element name="length" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="innerLength" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="innerWidth" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="innerHeight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="1" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--PALLETCAP : END-->
  <!--PALLETFILM : BEG-->
  <xs:complexType name="palletFilm">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="description" type="xs:string"/>
      <xs:element name="numberOfTurns" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>  
  <!--PALLETFILM : END-->
  <!--CYLINDER : BEG-->
  <xs:complexType name="cylinder">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="diameter" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="1" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--CYLINDER : END-->
  <!--TRUCK : BEG-->
  <xs:complexType name="truck">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="length" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="admissibleLoad" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="1" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--TRUCK : END-->
  <!--CONSTRAINTSET : BEG-->
  <xs:complexType name="contraintSet">
    <xs:sequence>
      <xs:element name="overhangX" minOccurs="0" maxOccurs ="1" type="rpt:valueWUnit"/>
      <xs:element name="overhangY" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="maximumHeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="maximumWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="maximumNumber" minOccurs="0" maxOccurs="1" type="xs:int"/>
      <xs:element name="orientations" minOccurs="0" maxOccurs="1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType> 
  <!--CONSTRAINTSET : END-->
  <!--VALUE WITH UNIT : BEG-->
  <xs:complexType name="valueWUnit">
    <xs:sequence>
      <xs:element name="unit" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!--VALUE WITH UNIT : END-->
  <!--VALUE3 WITH UNIT : BEGIN-->
  <xs:complexType name="value3WUnit">
    <xs:sequence>
      <xs:element name="unit" type="xs:string"/>
      <xs:element name="v0" type="xs:double"/>
      <xs:element name="v1" type="xs:double"/>
      <xs:element name="v2" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <!--VALUE3 WITH UNIT : END-->
  <!--IMAGETHUMBSIZE : BEG-->
  <xs:complexType name="imageThumbSize">
    <xs:sequence>
      <xs:element name="imagePath" type="xs:string"/>
      <xs:element name="width" type="xs:string"/>
      <xs:element name="height" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!--IMAGETHUMBSIZE : END-->
  <!--VIEW_SOLUTION_ : BEG-->
  <xs:complexType name="view_solution_front">
    <xs:sequence>
      <xs:element name="imagePath" type="xs:string"/>
      <xs:element name="width" type="xs:string"/>
      <xs:element name="height" type="xs:string"/>
    </xs:sequence>    
  </xs:complexType>
  <xs:complexType name="view_solution_left">
    <xs:sequence>
      <xs:element name="imagePath" type="xs:string"/>
      <xs:element name="width" type="xs:string"/>
      <xs:element name="height" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="view_solution_right">
    <xs:sequence>
      <xs:element name="imagePath" type="xs:string"/>
      <xs:element name="width" type="xs:string"/>
      <xs:element name="height" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="view_solution_back">
    <xs:sequence>
      <xs:element name="imagePath" type="xs:string"/>
      <xs:element name="width" type="xs:string"/>
      <xs:element name="height" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="view_solution_iso">
    <xs:sequence>
      <xs:element name="imagePath" type="xs:string"/>
      <xs:element name="width" type="xs:string"/>
      <xs:element name="height" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
    <!--VIEW_SOLUTION_ : END-->
  <!--SOLUTION : BEG-->
  <xs:complexType name="solution">
    <xs:sequence>
      <xs:element name="contentItem" minOccurs="1" maxOccurs="unbounded" type="rpt:contentItem"/>
      <xs:element name="noLayers" minOccurs="0" maxOccurs="1" type="xs:int"/>
      <xs:element name="noCasesPerLayer" minOccurs="0" maxOccurs="1" type="xs:int"/>
      <xs:element name="noLayersAndNoCases" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="netWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weightLoad" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weightTotal" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="bboxLoad" minOccurs="1" maxOccurs="1" type="rpt:value3WUnit"/>
      <xs:element name="bboxTotal" minOccurs="1" maxOccurs="1" type="rpt:value3WUnit"/>
      <xs:element name="efficiencyVolume" minOccurs="1" maxOccurs="1"/>
      <xs:element name="view_solution_front" type="rpt:view_solution_front"/>
      <xs:element name="view_solution_left" type="rpt:view_solution_left"/>
      <xs:element name="view_solution_right" type="rpt:view_solution_right"/>
      <xs:element name="view_solution_back" type="rpt:view_solution_back"/>
      <xs:element name="view_solution_iso" type="rpt:view_solution_iso"/>
      <xs:element name="layers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="layer" minOccurs="1" maxOccurs="unbounded" type="rpt:layerItem"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--SOLUTION : END-->
  <!--CONTENTITEM : BEG-->
  <xs:complexType name="contentItem"  >
    <xs:sequence>
      <xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="value" minOccurs="1" maxOccurs="1" type="xs:string"/>
    </xs:sequence> 
  </xs:complexType>
  <!--CONTENTITEM : END-->
  <!--LAYER : BEG-->
  <xs:complexType name="layerItem">
    <xs:sequence>
      <xs:element name="layerIndexes" type="xs:string"/>
      <xs:element name="layerContentItem" minOccurs="1" maxOccurs="unbounded" type="rpt:contentItem"/>
      <xs:element name="layerLength" type="rpt:valueWUnit"/>
      <xs:element name="layerWidth" type="rpt:valueWUnit"/>
      <xs:element name="layerHeight" type="rpt:valueWUnit"/>
      <xs:element name="layerWeight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="layerNetWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="layerSpaces" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="1" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--LAYER : END-->
  <!--HSOLUTION : BEGIN-->
  <xs:complexType name="hSolution">
    <xs:sequence>
      <xs:element name="solItem" minOccurs="0" maxOccurs="unbounded" type="rpt:solItem"/>
    </xs:sequence>
  </xs:complexType>
  <!--HSOLUTION : END-->
  <!--SOLITEM : BEGIN-->
  <xs:complexType name="solItem">
    <xs:sequence>
      <xs:element name="index" type="xs:int"/>
      <xs:element name="itemQuantities" type="rpt:itemQuantities"/>
      <xs:element name="bboxLoad" minOccurs="1" maxOccurs="1" type="rpt:value3WUnit"/>
      <xs:element name="weightLoad" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="bboxTotal" minOccurs="1" maxOccurs="1" type="rpt:value3WUnit"/>
      <xs:element name="weightTotal" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="view_solution_front" type="rpt:view_solution_front"/>
      <xs:element name="view_solution_left" type="rpt:view_solution_left"/>
      <xs:element name="view_solution_right" type="rpt:view_solution_right"/>
      <xs:element name="view_solution_back" type="rpt:view_solution_back"/>
      <xs:element name="view_solution_iso" type="rpt:view_solution_iso"/>
    </xs:sequence>
  </xs:complexType>
  <!--SOLITEM : END-->
  <!--SOLITEMCONTENT : BEGIN-->
  <xs:complexType name="itemQuantities">
    <xs:sequence>
      <xs:element name="unitWeight" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="itemQuantity" minOccurs="0" maxOccurs="unbounded" type="rpt:itemQuantity"/>
    </xs:sequence>
  </xs:complexType>
  <!--SOLITEMCONTENT : END-->
  <!--ITEMQUANTITY : BEGIN-->
  <xs:complexType name="itemQuantity">
    <xs:sequence>
      <xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="count" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="weight" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="imageThumbSize" minOccurs="1" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--ITEMQUANTITY : END-->
  <!--***-->
  <!--BCTCASE : BEG-->
  <xs:complexType name="bctCase">
    <xs:sequence>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>    
  </xs:complexType>
  <!--BCTCASE : END-->
  <!--BCTPALLET : BEGIN-->
  <xs:complexType name="bctPallet">
    <xs:sequence>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="overhangX" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="overhangY" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--BCTPALLET : END-->
  <!--BCTSOLUTION : BEGIN-->
  <xs:complexType name="bctSolution">
    <xs:sequence>
      <xs:element name="noLayersAndCases" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="weightLoad" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weightTotal" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="loadOnLowestCase" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="view_solution_iso" minOccurs="0" maxOccurs="1" type="rpt:view_solution_iso"/>
    </xs:sequence>
  </xs:complexType>
  <!--BCTSOLUTION : END-->
  <!--MATERIAL : BEGIN-->
  <xs:complexType name="material">
    <xs:sequence>
      <xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="profile" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="thickness" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="ect" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="stiffnessX" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="stiffnessY" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
    </xs:sequence> 
  </xs:complexType>
  <!--MATERIAL : END-->
  <!--STATIC BCT : BEGIN-->
  <xs:complexType name="staticBCT">
    <xs:sequence>
      <xs:element name="bct" minOccurs="1" maxOccurs="1" type ="rpt:valueWUnit"/>
    </xs:sequence>
  </xs:complexType>
  <!--STATIC BCT : END-->
  <!--DYNAMIC BCT : BEGIN-->
  <xs:complexType name="dynamicBCT">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <!--DYNAMIC BCT : END-->
  <xs:complexType name="palletisation">
    <xs:sequence>
      <xs:element name="solutionBCT">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="noLayers" minOccurs="0" maxOccurs="1" type="xs:int"/>
            <xs:element name="noCasesPerLayer" minOccurs="0" maxOccurs="1" type="xs:int"/>
            <xs:element name="noLayersAndNoCases" minOccurs="1" maxOccurs="1" type="xs:string"/>
            <xs:element name="netWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
            <xs:element name="weightLoad" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
            <xs:element name="weightTotal" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
            <xs:element name="view_solution_iso" type="rpt:view_solution_iso"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>  
  <!--***-->
</xs:schema>
