Sources/TreeDim.StackBuilder.Reporting/ReportTemplates/ReportTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="/treeDim/StackBuilder/ReportTypes"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:rpt="/treeDim/StackBuilder/ReportTypes"
    elementFormDefault="qualified"
>
  <!--BOX : BEG-->
  <xs:complexType name="box">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="netWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="admissibleLoadOnTop" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--BOX : END-->
  <xs:complexType name="case">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="netWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="admissibleLoadOnTop" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--BUNDLE : BEG-->
  <xs:complexType name="bundle">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="numberOfFlats" type="xs:string"/>
      <xs:element name="unitThickness" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="unitWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="totalThickness" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="totalWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--BENDLE : END-->
  <!--CASEWITHINNERDIMS : BEG-->
  <xs:complexType name="caseWithInnerDims">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="innerLength" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="innerWidth" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="innerHeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="admissibleLoadOnTop" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--CASEWITHINNERDIMS : END-->
  <!--PACKPROPERTIES : BEG-->
  <xs:complexType name="pack">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="arrangement" type="xs:string"/>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="0" maxOccurs="1" type ="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="netWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="wrapperWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--PACKPROPERTIES : END-->
  <!--PALLET : BEG-->
  <xs:complexType name="pallet">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width"  minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="admissibleLoad" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="imageThumbSize" minOccurs="0" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--PALLET : END-->
  <!--INTERLAYER : BEG-->
  <xs:complexType name="interlayer">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="length" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="thickness" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="1" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--INTERLAYER : END-->
  <!--PALLETCORNER : BEG-->
  <xs:complexType name="palletCorner">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="description" type="xs:string"/>
      <xs:element name="Length" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="thickness" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="1" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--PALLETCORNER : END-->
  <!--PALLETCAP : BEGIN-->
  <xs:complexType name="palletCap">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="description" type="xs:string"/>
      <xs:element name="length" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="innerLength" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="innerWidth" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="innerHeight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="1" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--PALLETCAP : END-->
  <!--PALLETFILM : BEG-->
  <xs:complexType name="palletFilm">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="description" type="xs:string"/>
      <xs:element name="numberOfTurns" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>  
  <!--PALLETFILM : END-->
  <!--CYLINDER : BEG-->
  <xs:complexType name="cylinder">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="radius" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="weight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="1" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--CYLINDER : END-->
  <!--TRUCK : BEG-->
  <xs:complexType name="truck">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="length" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="width" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="height" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="admissibleLoad" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="1" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--TRUCK : END-->
  <!--CONSTRAINTSET : BEG-->
  <xs:complexType name="contraintSet">
    <xs:sequence>
      <xs:element name="overhangX" minOccurs="0" maxOccurs ="1" type="rpt:valueWUnit"/>
      <xs:element name="overhangY" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="maximumHeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="maximumWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="maximumNumber" minOccurs="0" maxOccurs="1" type="xs:int"/>
      <xs:element name="orientations" minOccurs="0" maxOccurs="1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType> 
  <!--CONSTRAINTSET : END-->
  <!--VALUE WITH UNIT : BEG-->
  <xs:complexType name="valueWUnit">
    <xs:sequence>
      <xs:element name="unit" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!--VALUE WITH UNIT : END-->
  <!--IMAGETHUMBSIZE : BEG-->
  <xs:complexType name="imageThumbSize">
    <xs:sequence>
      <xs:element name="imagePath" type="xs:string"/>
      <xs:element name="width" type="xs:string"/>
      <xs:element name="height" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!--IMAGETHUMBSIZE : END-->
  <!--VIEW_SOLUTION_ : BEG-->
  <xs:complexType name="view_solution_front">
    <xs:sequence>
      <xs:element name="imagePath" type="xs:string"/>
      <xs:element name="width" type="xs:string"/>
      <xs:element name="height" type="xs:string"/>
    </xs:sequence>    
  </xs:complexType>
  <xs:complexType name="view_solution_left">
    <xs:sequence>
      <xs:element name="imagePath" type="xs:string"/>
      <xs:element name="width" type="xs:string"/>
      <xs:element name="height" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="view_solution_right">
    <xs:sequence>
      <xs:element name="imagePath" type="xs:string"/>
      <xs:element name="width" type="xs:string"/>
      <xs:element name="height" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="view_solution_back">
    <xs:sequence>
      <xs:element name="imagePath" type="xs:string"/>
      <xs:element name="width" type="xs:string"/>
      <xs:element name="height" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="view_solution_iso">
    <xs:sequence>
      <xs:element name="imagePath" type="xs:string"/>
      <xs:element name="width" type="xs:string"/>
      <xs:element name="height" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
    <!--VIEW_SOLUTION_ : END-->
  <!--SOLUTION : BEG-->
  <xs:complexType name="solution">
    <xs:sequence>
      <xs:element name="item" minOccurs="1" maxOccurs="unbounded" type="rpt:contentItem"/>
      <xs:element name="netWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="loadWeight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="totalWeight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="efficiencyVolume" minOccurs="1" maxOccurs="1"/>
      <xs:element name="view_solution_front" type="rpt:view_solution_front"/>
      <xs:element name="view_solution_left" type="rpt:view_solution_left"/>
      <xs:element name="view_solution_right" type="rpt:view_solution_right"/>
      <xs:element name="view_solution_back" type="rpt:view_solution_back"/>
      <xs:element name="view_solution_iso" type="rpt:view_solution_iso"/>
      <xs:element name="layers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="layer" minOccurs="1" maxOccurs="unbounded" type="rpt:layerItem"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--SOLUTION : END-->
  <!--CONTENTITEM : BEG-->
  <xs:complexType name="contentItem"  >
    <xs:sequence>
      <xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="value" minOccurs="1" maxOccurs="1" type="xs:string"/>
    </xs:sequence> 
  </xs:complexType>
  <!--CONTENTITEM : END-->
  <!--LAYER : BEG-->
  <xs:complexType name="layerItem">
    <xs:sequence>
      <xs:element name="layerIndexes" type="xs:string"/>
      <xs:element name="layerContentItem" minOccurs="1" maxOccurs="unbounded" type="rpt:contentItem"/>
      <xs:element name="layerLength" type="rpt:valueWUnit"/>
      <xs:element name="layerWidth" type="rpt:valueWUnit"/>
      <xs:element name="layerHeight" type="rpt:valueWUnit"/>
      <xs:element name="layerWeight" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="layerNetWeight" minOccurs="0" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="layerSpaces" minOccurs="1" maxOccurs="1" type="rpt:valueWUnit"/>
      <xs:element name="imageThumbSize" minOccurs="1" maxOccurs="1" type="rpt:imageThumbSize"/>
    </xs:sequence>
  </xs:complexType>
  <!--LAYER : END-->
</xs:schema>
